{% extends "template.html" %}
{% block conteudo %}
    <form action="{{ url_for('salvarconfig') }}" method="post">
        <fieldset>
          <div class="form-group">
            <label for="etapa">Etapa</label>
            <input type="text" id="etapa" name="etapa" value={{ config.etapa }} class="form-control" required>
              <span>Personalizada, Amarelação, Murchamento,</span>
          </div>
          <div class="form-group">
            <label for="escala_temp">Escala de Temperatura: Celsius ou Fahrenheit</label>
            <input type="text" id="escala_temp" name="escala_temp" value={{ config.escala_temp }} class="form-control" required>
              <span>F, C</span>
          </div>
          <div class="form-group">
            <label for="intervalo">Intervalo de medicao em segundos</label>
            <input type="number" id="intervalo" name="intervalo" value={{ config.intervalo_seconds }} class="form-control" required>
              <span>5min:300, 1hora: 3600</span>
          </div>
            <p>Configuração de alerta</p>
          <div class="form-group">
            <label for="temperaturaMinima">Temperatura Mínima</label>
            <input type="number" id="temperaturaMinima" name="temperaturaMinima" value={{ config.temp_min }} class="form-control">
          </div>
          <div class="form-group">
            <label for="temperaturaMaxima">Temperatura Máxima</label>
            <input type="number" id="temperaturaMaxima" name="temperaturaMaxima" value={{ config.temp_max }} class="form-control">
          </div>
          <div class="form-group">
            <label for="umidadeMinima">Umidade Minimma</label>
            <input type="number" id="umidadeMinima" name="umidadeMinima" value={{ config.umid_min }} class="form-control">
          </div>

          <div class="form-group">
            <label for="umidadeMaxima">Umidade Máxima</label>
            <input type="number" id="umidadeMaxima" name="umidadeMaxima" value={{ config.umid_max }} class="form-control">
          </div>

        <div class="form-group">
            <label for="obs">Observação</label>
            <input type="text" id="obs" name="obs" value={{ config.obs }} class="form-control">
          </div>

          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        </fieldset>
    </form>
{% endblock %}